<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="/css/style.css" rel="stylesheet" />

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-43862932-1', 'emitent.uz');
        ga('send', 'pageview');

    </script>

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->
  <title>Страница эмитента</title>
</head>

<body>
<header>
    <div class="gradient short">
        <div class="main_grid gradient short">
            <div class="top_block">
                <a href="/user/home" class="logo">Эмитенты<br />Узбекистана</a>
                <div class="user_action">
                    <div class="select_list fl">
                        <div class="profile current"><%= username %></div>
                        <div class="value_list">
                            <ul>
                                <li data-id="0"><a href="/user/upload">Добавить документ</a></li>
                                <li data-id="0"><a href="/user/company">Мои документы</a></li>
                                <li data-id="0"><a href="/user/change">Cменить пароль</a></li>
                                <li data-id="0"><a href="/logout">Выйти</a></li>
                            </ul>
                        </div>
                    </div><a href="/user/upload"><button class="green_btn">Добавить документ</button></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</header>
    <div class="company_descr">
        <div class="main_grid">
            <div class="logo"><img src="/img/company-page_logo.jpg" /></div>
            <div class="info">
                <div class="title"><%= comp %></div>
                <div class="place"><%= adr  %></div>
            </div>
        </div>
    </div>
    <div class="main_grid center_block">
        <div class="control_block">
            <div class="select_list" style="width: 265px;">
                <div class="arrow"></div>
                <div class="current">
                    <% if(idlc.length>0){ %>
                     <% for(var i = 0; i<catlist.length; i++) {  %>
                       <% if(catlist[i]['_id']== idlc){ %>
                         <span><%= catlist[i]['title'] %></span>
                        <% } }  %>
                    <% }else{ %>
                    <span>Все</span>
                    <% } %>
                </div>
                <div class="value_list">
                    <ul style="width: 261px;min-width: 261px;">
                        <li data-id="0"><a href="/user/company">Все</a>
                        <% for(var j=0; j<catlist.length;j++){ %>
                            <li data-id="<%= j %>"><a href="/user/company/<%= pages+'.'+catlist[j]['_id'] %>"><%= catlist[j]['title'] %></a></li>
                        <% }%>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="sheet">
            <table cellspacing="0">
                <tr>
                    <th></th>
                    <th>Название эмитента<span class="arrow"></span></th>
                    <th>Дата<span class="arrow"></span></th>
                </tr>
                <% for(var i = 0;i<doclists.length; i++) {
                
                 var hrefs2 = "";
                            if(doclists[i]['t'] == "1"){ hrefs=doclists[i]['href'];  hrefs2="/user/company_other/0."+doclists[i]['from']; } else{  hrefs="/user/viewdoc/"+doclists[i]['_id'];}
                    %>
                                    <tr  class="click_doc" id="<%= hrefs %>" alt="">   


                    <%  if(doclists[i]['t'] == "1"){ %>
                    <td width="40"><img src="/img/download.png"/></td>
                    <% }else { %>
                    <td></td>
                    <% } %>
                    <td><%= comp %></td>
                    <td><%= doclists[i]['date'] %></td>
                </tr>
                <% }  %>
            </table>
            <div class="pagination">
                <ul>
                    <%
                    if(listcn>limits){ %>
                    <%    if(pages>0){
                    var p1 = pages-1; var p2 = ++pages;
                    %>
                     <% if(idlc.length>0){ %>
                         <li><a href="/user/company/0.<%= idlc %>">Первая страница</a></li>
                         <li><a href="/user/company/<%= p1 %>.<%= idlc %>"><img style="margin-top:5px;" src="/img/percol.gif" /></a></li>
                     <% }else{ %>
                          <li><a href="/user/company/0">Первая страница</a></li>
                          <li><a href="/user/company/<%= p1 %>"><img style="margin-top:5px;" src="/img/percol.gif" /></a></li>
                     <% } %>
                    <% }else{p2 = 1; }%>
                    <% if(doclists.length>=limits){ %>
                        <% if(idlc.length>0){ %>
                            <li><a href="/user/company/<%= p2 %>.<%= idlc %>"><img style="margin-top:5px;" src="/img/nextcol.gif" /></a></li>
                            <li><a href="/user/company/<%= last %>.<%= idlc %>">Последняя страница</a></li>
                        <% }else{ %>
                            <li><a href="/user/company/<%= p2 %>"><img style="margin-top:5px;" src="/img/nextcol.gif" /></a></li>
                            <li><a href="/user/company/<%= last %>">Последняя страница</a></li>
                        <% } %>
                    <% } %>
                    <% } %>

                </ul>
            </div>
        </div>

        <div class="clear"></div>
    </div>
    <footer>
        <div class="main_grid">
            <div class="left">
                <div class="copyright">© 2013 Портал Emitent.uz. Все права защищены.</div>
                <div class="menu">
                    <ul>
                        <li><a href="../about">О проекте</a></li>
                        <li><a href="../faq">Вопросы и ответы</a></li>
                        <li><a href="../terms">Условия пользования</a></li>
                        <li><a href="../news">Новости</a></li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <div class="soc_list">
                    <ul>
                        <li class="facebook"><a href="#"></a></li>
                        <li class="twitter"><a href="#"></a></li>
                        <li class="rss"><a href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
    
    <script type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
