<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="/css/style.css" rel="stylesheet" />

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-43862932-1', 'emitent.uz');
        ga('send', 'pageview');

    </script>

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->
  <title>Эмитенты - Главная страница</title>
</head>

<body>
<% if(!usercheck){ %>
    <header>
        <div class="gradient" id="top_gradient">
            <div class="main_grid gradient" id="top_gradient2">
                <div class="top_block">
                        <a href="/user/home" class="logo">Эмитенты<br />Узбекистана</a>

                        <div class="user_action"><a href="/user/registration">Зарегистрироваться</a> | <a href="/user/login">Войти</a> или <a href="/user/registration"><button class="green_btn">Добавить документ</button></a></div>

                        <div class="clear"></div>
                </div>
                <div class="info_block">
                    <h2><font color="white">Шаг вперёд к прозрачности</font></h2>
                    <p>Emitent.uz – первый в Узбекистане открытый интерактивный сервис раскрытия информации эмитентов ценных бумаг и профессиональных участников.</p>
                    <div class="hide_top">
                            <a href="#">Свернуть или убрать</a>
                    </div>
                </div>
                <div class="notebook_pic"></div>
            </div>
        </div>
    </header>
 <% }else{ %>
    <header>
        <div class="gradient short">
            <div class="main_grid gradient short">
                <div class="top_block">
                    <a href="/user/home" class="logo">Эмитенты<br />Узбекистана</a>
                    <div class="user_action">
                        <div class="select_list fl">
                            <div class="profile current"><%= username %></div>
                            <div class="value_list">
                                <ul>
                                    <li data-id="0"><a href="/user/upload">Добавить документ</a></li>
                                    <li data-id="0"><a href="/user/company">Мои документы</a></li>
                                    <li data-id="0"><a href="/user/change">Cменить пароль</a></li>
                                    <li data-id="0"><a href="/logout">Выйти</a></li>
                                </ul>
                            </div>
                        </div><a href="/user/upload"><button class="green_btn">Добавить документ</button></a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </header>
  <% } %>
    <div class="main_grid center_block">
        <div class="tabs">
            <ul>
                <li class="news active"><a href="/user/home">Новости от <%= dates %></a></li>
                <li class="folder"><a href="/user/search">Поиск по документам</a></li>
                <li class="company"><a href="/user/all_company">Все эмитенты</a></li>
            </ul>
        </div>
        <div class="tabs_content sheet">
            <h2>Новые документы в базе <span class="purple_btn"><%= listcn %> добавлено</span></h2>
            
            <table cellspacing="0">
                <%
                for(var i=0; i<listdoc.length;i++)
                {      for(var j=0; j<users.length;j++)
                    {
                        if(users[j]['_id']== listdoc[i]['from'])
                            {
                            var hrefs = "";
                            var hrefs2 = "";
                            if(listdoc[i]['t'] == "1"){ hrefs=listdoc[i]['href'];  hrefs2="/user/company_other/0."+listdoc[i]['from']; } else{  hrefs="/user/viewdoc/"+listdoc[i]['_id'];}
                    %>
                                    <tr  class="click_doc" id="<%= hrefs %>" alt="<%= hrefs2 %>">
                                       <%  if(listdoc[i]['t'] == "1"){ %>
                                         <td width="50"><img src="/img/download.png"/></td>
                                        <% }else { %>
                                          <td width="40"></td>
                                        <% } %>
                                        <td width="200" align="left"><%= users[j]['organization']%></td>
                                        <% for(var j=0; j<catlist.length;j++){ %>
                                        <% if(catlist[j]['_id'] == listdoc[i]['types']){ %>
                                        <td><%= catlist[j]['title'] %></td>
                                        <% } }%>
                                    </tr>
                        <% }%>
                <%  }%>
           <%   }  %>
            </table>
            <div class="pagination">
                <ul>
                    <%
                       if(listcn>limits){ %>
                    <%    if(pages>0){
                            var p1 = pages-1; var p2 = ++pages;
                    %>
                        <li><a href="/user/home">Первая страница</a></li>
                        <li><a href="/user/home/<%= p1 %>"><img style="margin-top:5px;" src="/img/percol.gif" /></a></li>

                    <% }else{p2 = 1; }%>
                             <% if(listdoc.length>=limits){ %>
                                 <li><a href="/user/home/<%= p2 %>"><img style="margin-top:5px;" src="/img/nextcol.gif" /> </a></li>
                                 <li><a href="/user/home/<%= last %>">Последняя страница</a></li>
                             <% } %>
                     <% } %>
                    <!--<li class="disable">. . .</li> -->

                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <footer>
        <div class="main_grid">
            <div class="left">
                <div class="copyright">© 2013 Портал Emitent.uz. Все права защищены.</div>
                <div class="menu">
                    <ul>
                        <li><a href="../about">О проекте</a></li>
                        <li><a href="../faq">Вопросы и ответы</a></li>
                        <li><a href="../terms">Условия пользования</a></li>
                        <li><a href="../news">Новости</a></li>
                       
                    </ul>
                </div>
            </div>
            <div class="right">
                <div class="soc_list">
                    <ul>
                        <li class="facebook"><a href="#"></a></li>
                        <li class="twitter"><a href="#"></a></li>
                        <li class="rss"><a href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
    <script type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
