
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="css/style.css" rel="stylesheet" />

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-43862932-1', 'emitent.uz');
        ga('send', 'pageview');

    </script>

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    <title>Новости портала Emitent.uz</title>
</head>

<body  class="white_bg">
<header>
    <div class="gradient short">
        <div class="main_grid gradient short">
            <div class="top_block">
                <a href="/user/home" class="logo">Эмитенты<br />Узбекистана</a>
                <!-- taking top menu out since we will not need it
                <div class="user_action"><a href="/user/login">Авторизоваться</a> или <a href="/user/registration"><button class="green_btn">Разместить документ</button></a></div>
                -->
                <div class="clear"></div>
                
            </div>
        </div>
    </div>
</header>

<div class="main_grid center_block">
    <div class="simple_content">
        <h2>Новости портала Emitent.uz</h2>
        <div class="separator"></div>
        <br><h4> 2 октября, 2013:</h4> <br>
        Компания ООО "TAT-REESTR" приняла первого клиента. <br>
        ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
       
        <br><br><h4> 1 октября, 2013:</h4> <br>
        Компания ООО "TAT-REESTR" получила лицензию на предоставление услуг. <br>
        ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
       
        <div class="form standard">

        </div>
    </div>
    <div class="clear"></div>
</div>
<footer>
    <div class="main_grid">
        <div class="left">
            <div class="copyright">© 2013 Портал Emitent.uz. Все права защищены.</div>
                <div class="menu">
                    <ul>
                        <li><a href="../about">О проекте</a></li>
                        <li><a href="../faq">Вопросы и ответы</a></li>
                        <li><a href="../terms">Условия пользования</a></li>
                        <li><a href="../news">Новости</a></li>
                        <!--<li><a href="../rss">RSS-Подписка</a></li> -->
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="soc_list">
                <ul>
                    <li class="facebook"><a href="#"></a></li>
                    <li class="twitter"><a href="#"></a></li>
                    <li class="rss"><a href="#"></a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</footer>

<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace( 'content', {
        toolbar: 'Basic'
    });
</script>
</body>
</html>