<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/style.css" rel="stylesheet" />

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-43862932-1', 'emitent.uz');
        ga('send', 'pageview');

    </script>

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <![endif]-->

    <title>Регистрация</title>
</head>

<body  class="white_bg">
<header>
    <div class="gradient short">
        <div class="main_grid gradient short">
            <div class="top_block">
                <a href="/user/home" class="logo">Эмитенты<br />Узбекистана</a>
                <div class="user_action"><a href="/user/login">Войти</a> или <a href="/user/registration"><button class="green_btn">Добавить документ</button></a></div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</header>

<div class="main_grid center_block">
    <div class="simple_content">
        <h2>Регистрация</h2>
        <div class="separator"></div>
        <div class="info">
            <%= message %>
        </div>
        <div class="form standard">
            <form action="/user/create" method="POST" name="regForm"  id="registerForm">
                <div class="row">
                    <div class="text_input small top_label">
                        <label>Полное название организации</label>
                        <input type="text" value="<%= org %>" name="organization"  required />
                    </div>
                    <div class="text_input small top_label">
                        <select name="dp" style="height:40px; width:270px;">
                            <option value="OАО">OAО</option>
                            <option value="ЗАО">ЗАО</option>
                            <option value="АК">АК</option>
                            <option value="ГАК">ГАК</option>
                            <option value="ОАКБ">ОАКБ</option>
                            <option value="ЧОАКБ">ЧОАКБ</option>
                            <option value="ОАКИБ">ОАКИБ</option>
                            <option value="ГАЖК">ГАЖК</option>
                        </select>
                    </div>
                    <div class="text_input small fr top_label">
                        <label>Email пользователя</label>
                        <input type="email" value="<%= em %>" name="username" required/>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row">
                    <div class="text_input small top_label">
                        <label>ИНН</label>
                        <input type="number"  value="<%= inn %>" name="inn" maxlength="9" required=""/>
                       <!-- <div class="error_text">Проверьте правильность заполнения поля</div>  -->
                    </div>
                    <div class="text_input small fr top_label">
                        <label>Выберите пароль</label>
                        <input type="password" value="" name="password" required/>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row">
                    <div class="text_input small top_label">
                        <label>Контактный телефон</label>
                        <input type="text" value="<%= tel %>" name="phone" required/>
                    </div>
                    <div class="text_input small fr top_label">
                        <label>Повторите пароль</label>
                        <input type="password" value="" name="reppassword" required/>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row">
                    <div class="select_list top_label small">
                        <label>Спосиб поддержания</label>
                        <select name="connect" style="height:40px; width:270px;">
                            <option value="call">Почта</option>
                            <option value="fax">Fax</option>
                            <option value="email">E-mail</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row">
                    <div class="text_input large top_label">
                        <label>Юридический адрес</label>
                        <input type="text" value="<%= adr %>" name="adress" required/>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row">
                    <div class="text_input large top_label">
                        <label>ФИО представителя организации</label>
                        <input type="text" value="<%= fio %>" name="fio" required/>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row">
                    <input type="checkbox" id="myCheck" name="check" required> <span class="checkbox_descr">Условия соглашения</span>
                </div>
                <div class="row">

                    <input class="green_grd_btn" type="submit" value="Завершить регистрацию" >
                </div>

            </form>
        </div>

    </div>
    <div class="clear"></div>
</div>
<footer>
    <div class="main_grid">
        <div class="left">
            <div class="copyright">© 2013 OOO "TAT-REESTR". Все права защищены.</div>
            <div class="menu">
                <ul>
                    <li><a href="#">Помощь</a></li>
                    <li><a href="#">RSS-Подписка</a></li>
                    <li><a href="#">Условия использования</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="soc_list">
                <ul>
                    <li class="facebook"><a href="#"></a></li>
                    <li class="twitter"><a href="#"></a></li>
                    <li class="rss"><a href="#"></a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</footer>
<script type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script>

    $().ready(function() {
      //  $("#registerForm").valid();
    });
</script>
</body>
</html>


