
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="css/style.css" rel="stylesheet" />

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-43862932-1', 'emitent.uz');
        ga('send', 'pageview');

    </script>

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    <title>Условия пользования Emitent.uz</title>
</head>

<body  class="white_bg">
<header>
    <div class="gradient short">
        <div class="main_grid gradient short">
            <div class="top_block">
                <a href="/user/home" class="logo">Эмитенты<br />Узбекистана</a>
                <!-- taking top menu out since we will not need it
                <div class="user_action"><a href="/user/login">Авторизоваться</a> или <a href="/user/registration"><button class="green_btn">Разместить документ</button></a></div>
                -->
                <div class="clear"></div>
                
            </div>
        </div>
    </div>
</header>

<div class="main_grid center_block">
    <div class="simple_content">
        <h2>Пользовательское соглашение и правила использования сайта</h2>
        <div class="separator"></div>
        <p>
Настоящее Пользовательское соглашение (далее — Соглашение) устанавливает условия и правила использования пользователями Сети сайта Emitent.uz (далее — Сайт или Портал). <br><br>

Используя Сайт, Пользователь подтверждает, что прочитал и выразил полное согласие с условиями настоящего Соглашения без какого-либо изменения или изъятия. Если Пользователь не согласен с условиями настоящего Соглашения, то для прекращения действия Соглашения в отношении него, Пользователь должен незамедлительно прекратить использование Сайта, в том числе путем посещения его.<br><br>

Портал Emitent.uz является собственностью ООО «ТАТ-REESTR» и представляет собой информационную и интерактивную систему в Сети Интернет, содержащую доступную неопределенному кругу лиц информацию и позволяющий любому лицу получить доступ к такой информации из любого места и в любое время по собственному выбору посредством ЭВМ и/или иного, в том числе беспроводного, портативного устройства (КПК, телефонные аппараты для сотовых сетей связи или других беспроводных сетей связи и пр.) с применением любых технологий, стандартов и протоколов (web, wap, IP TV и пр.).<br><br>

Информация, предоставленная на Сайте, является интеллектуальной собственностью и охраняется узбекским законодательством об авторском праве. Копирование, тиражирование, распространение и иное использование информации возможно только с предварительного письменного разрешения администрации Сайта. За нарушение настоящего правила наступает ответственность, предусмотренная законодательством РУз.<br><br>

Emitent.uz не несет ответственности за неточности, возникшие в ходе распространения информации, за неточности в самой информации, а также за задержки в передаче информации или её техническое искажение.<br><br>

Данное Соглашение полностью или частично может быть изменено в любое время без какого-либо специального уведомления. Новая редакция Соглашения вступает в силу с момента ее опубликования на Сайте.<br><br><br>


<strong>Условия использования материалов на Сайте</strong> <br>
1.1 Пользователь сети не имеет права вносить изменения, публиковать, передавать третьим лицам, участвовать в продаже или уступке, создавать производные продукты или иным образом использовать, частично или полностью, содержание Сайта.<br><br>
1.2 В случае получения разрешения на копирование, распространение, опубликование или иное использование материалов Сайта, охраняемых авторским правом, такое копирование, распространение, опубликование или иное использование не допускается без уведомления о принадлежности авторского права либо с изменением или исключением имени автора и/или товарного знака.<br><br><br>
<strong>Условия размещения материалов пользователями Сайте</strong><br>
2.1 Пользователь Сети обязуется не размещать на Сайте и не направлять куда-либо через/посредством Сайта любые материалы следующего характера:<br><br>
– нарушающие законодательство, содержащие угрозы и оскорбления, дискредитирующие других лиц, нарушающие права граждан на частную жизнь или публичный порядок, носящие характер непристойности;<br><br>

– нарушающие в той или иной степени честь и достоинство, права и охраняемые законом интересы других лиц;<br><br>

– способствующие или содержащие призывы к разжиганию религиозной, расовой или межнациональной розни, содержащие попытки разжигания вражды или призывы к насилию;<br><br>

– иные материалы, которые побуждают других лиц на противоправное поведение, влекущее уголовную, гражданско-правовую и иную ответственность или каким-либо образом нарушающее положения законодательства.<br><br><br>

2.2 Любые действия пользователя сети, которые, по мнению администрации Сайта, ограничивают или препятствуют осуществлению прав другого пользователя сети, использующего Сайт, не допускаются.<br><br>
2.3 Пользователь сети обязуется не размещать на Сайте и не направлять через/посредством Сайта материалы, являющиеся рекламой каких-либо товаров или услуг, без получения предварительного выраженного согласия от админстрации Сайта.<br><br>
2.4 Пользователь сети обязуется не использовать Сайт для рекламы или иного стимулирования сбыта любых товаров и услуг в любой форме, включая, но не ограничиваясь стимулированием пользователей к подписке на другую систему интерактивного обслуживания, являющуюся конкурентом Сайта.<br><br>
2.5 Пользователь сети обязуется не загружать, размещать или иным образом использовать на Сайте какие-либо материалы, охраняемые законодательством об интеллектуальной собственности (в том числе авторским правом, законодательством о товарных знаках), и иные охраняемые законодательством материалы без получения выраженного разрешения обладателя прав на охраняемый материал. При этом бремя доказывания того, что размещение на Сайте пользователем сети материалов не нарушает авторские, смежные и иные права третьих лиц на размещаемые материалы, лежит на пользователе сети.<br><br>
2.6 Пользователь сети соглашается с тем, что он несет единоличную полную ответственность в отношении размещаемых на Сайте материалов, в том числе за содержание таких материалов, соответствие их требованиям законодательства, за нарушения прав третьих лиц на размещаемые пользователем сети материалы, и возмещает любой ущерб, возникающий вследствие таких нарушений, а также любой ущерб, возникающий вследствие загрузки на Сайт таких материалов.<br><br>
2.7 При размещении каких-либо материалов в разделах Сайта для всеобщего пользования пользователь сети тем самым автоматически предоставляет ООО «TAT-REESTR» (или подтверждает, что владелец таких материалов предоставил ООО «TAT-REESTR») бесплатное, постоянное, безотзывное, не исключительное право на использование, воспроизведение, изменение, редактирование, опубликование, перевод и распространение таких материалов (частично или полностью) на территории всех стран мира и/или включение таких материалов в другие произведения в любой форме посредством использования любых средств массовой информации или технологий, которые известны в настоящее время или могут быть изобретены в будущем, на весь срок охраны авторского права, предусмотренный законодательством Республики Узбекистан в отношении таких материалов.<br><br>
2.8 Пользователь сети также разрешает доступ, просмотр, хранение или воспроизведение таких материалов другим пользователям сети для личного использования.<br><br>
2.9 Пользователь сети предоставляет администрации Сайта право редактировать, копировать, публиковать и распространять любые материалы, размещенные пользователем сети на Сайте.


</p>
        <div class="form standard">

        </div>
    </div>
    <div class="clear"></div>
</div>
<footer>
    <div class="main_grid">
        <div class="left">
            <div class="copyright">© 2014 Портал Emitent.uz. Все права защищены.</div>
                <div class="menu">
                    <ul>
                        <li><a href="../about">О проекте</a></li>
                        <li><a href="../faq">Вопросы и ответы</a></li>
                        <li><a href="../terms">Условия пользования</a></li>
                        <li><a href="../news">Новости</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="soc_list">
                <ul>
                    <li class="facebook"><a href="http://www.facebook.com/emitentuz"></a></li>
                    <li class="twitter"><a href="http://twitter.com/emitentuz"></a></li>
                    <!-- <li class="rss"><a href="#"></a></li> -->
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</footer>

<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace( 'content', {
        toolbar: 'Basic'
    });
</script>
</body>
</html>